<h1>Profiles#show</h1>
<p>Find me in app/views/profiles/show.html.erb</p>

<button class="btn btn-primary" data-toggle="modal" data-target="#edit-user-profile">button to</button>
<%= render 'form', user: @user %>
