<button class="btn btn-primary" data-toggle="modal" data-target="#edit-user-profile">button to</button>
<%= render 'form', user: @user %>

<%= image_tag("https://kitt.lewagon.com/placeholder/users/camilleFr", class:'avatar') %>
