.choices{
    margin: auto;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 20px 33px;
    margin-top: 10px;
    width: 82%;
    border-radius: 4px;
    min-height: calc(100vh - 142px -150px);
  legend{
    font-size:20px;
    text-align: center;
    font-family: $headers-font;
    color: #544c4c;
    border-bottom: 0 !important;
    margin-bottom: 10px !important;
  }
  // width: 70%;
  // margin: auto;
  input[type=radio]:checked + label{
    background-color: white;


  }
  input[type=radio]{
    display:none;
    z-index:40;
  }
  label{
  text-align: center;
  width: 100%;
  height: 38px;
  border-radius: 19px;
  padding: 8px;
  font-size: 15px;
  background-color: rgba(255, 255, 255, 0.5);
  }
}

.small_icon {
  position:absolute;
  right:1em;
  bottom:0.3em;
  width:4em;
  height:4em;
}

.next_button_style{
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 1px solid white;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
  padding-top: 20px;
  margin: auto;
  margin-top: 40px;
  display: block;
}
.button_save{
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 1px solid white;
  text-align: center !important;
  background-color: rgba(255, 255, 255, 0.5);
  padding-top: 8px;
  padding-left: 8px;
  margin: auto;
  margin-top: 40px;
  display: block;


}

.header_form {
  opacity: 0.7;
  color: white;
  text-align: center;
  margin-top: 17px !important;
  margin-bottom: 15px !important;
}



