// Specific CSS for your home-page

.buttons-edit {
  display:flex;
  flex-direction:column;
}


.small {
  transform:scale(0.7);
  z-index: 0;
  opacity:0.9;


}

.homepage {
  position:absolute;
  top:16vh;
  right:42vw;
  font-size: 15px;
  animation: orbitButton 5s ease-in-out infinite;


}



@-webkit-keyframes orbitButton {
    0%   {-webkit-transform:  scale(1.5); }
    25%  {-webkit-transform: scale(1.6); }
    50%  {-webkit-transform: scale(1.5); }
    75%  {-webkit-transform: scale(1.6);}
    100% {-webkit-transform: scale(1.5);}
}
#Footprint img{
animation: orbitStat 5s ease-in-out infinite;
}
