.solutions {
  width: 6em;
  height: 6em;
  position:absolute;
  bottom:7em;
  left:2em;
}

#solutions_title {
  font-size: 20px;
  position:absolute;
  bottom:0px;

}

.small {
  transform:scale(1);
}

.stat {
  width: 8em;
  height: 8em;
  position:absolute;
  bottom:2em;
  right:2em;

}

.footprint {
  position:absolute;
  top:10em;
  left:1em;
  width: 7em;
  height: 7em;

}

.user {
  position:absolute;
  height: 5em;
  width: 5em;
  right: 2em;
  top: 10em;
  border-radius: 50%;
  border-style: solid;
  border-color: white;
  border-width: 4px;
  opacity: 0.9;
}

#solutions_title {
  position:absolute;
  top: 2em;

}

#footprint_title {

}
