.solutions {

}

.footprint {
  padding-bottom: 80px;

}

.user {
  margin-top: 80px;
  height: 110px;
  width: 110px;
  border-radius: 50%;
  border-style: solid;
  border-color: white;
  border-width: 4px;
}
