.result-2-title {

  text-align: center;
  width: vh;
  // border-color: grey;
  // margin-top: 10px;
}

#camembert1 {
  height:30vh;
  width: 45vw;
  opacity:1;
  position:relative;
}

#camembert2 {
  height:10vh;
  width: 40vw;
  opacity:0.7;
  position:relative;
}

.average {
  display:flex;
  text-align:center;
  align-items:center;
  justify-content:center;
  width: 80vw;
}

.general {
  display:flex;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 12px;
  height: 100px;
  width: 100%;
  // text-align:center;
  // align-items:center;
  // justify-content:center;

}

.color-box {
  width: 20px;
  height: 20px;
  border-style:solid;
  border-width: 2px;
  border-color: white;
  margin:5px;
  border-radius:1px;
}

.part-one {
  display:flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  width: 100%
}

.part-two {
  display:flex;
  text-align: center;
  flex-direction:column;
  overflow: scroll;
  height: 50px;
  font-size: 16px;
  margin-top:20px;
}

.container-tight {
  padding:20px;
}



.tabpanel {
  align-items: center;
  justify-content:center;
}

.nav .nav-tabs {
  color: red;
}
