// #welcome {
//   z-index:20;
// }

// @-webkit-keyframes disappearingTitle {
//     from { -webkit-transform: translateX(0px) scale(1); opacity:1; }
//     to   { -webkit-transform: translateX(150px) scale(0); opacity:0; }
//   }

// .welcome h1 { animation: disappearingTitle 5s ease-out 1s; }
.container{
  background-color: rgb(51,51,51);
  padding:10px;
  height:70vh;
}

.box {
  display:flex;
  width: 100vw;
  height: 30vh;
}

.box_item {
  display: flex;
  // flex-direction: column;
  justify-content: center;
}

.box_right {
  position: absolute;
  right: 30px;
  // margin-top:1px;
}
h1, p {

  color:white;
}


// @-webkit-keyframes orbitStat {
//     0%   {-webkit-transform:  scale(0.8); opacity:1;}
//     25%  {-webkit-transform: scale(0.9); opacity: 0.9;}
//     50%  {-webkit-transform: scale(0.8); opacity:0.8;}
//     75%  {-webkit-transform: scale(0.7); opacity:0.9;}
//     100% {-webkit-transform: scale(0.8); opacity:1;}
// }
// #Footprint img{
// animation: orbitStat 5s ease-in-out infinite;
// }

// #Stat img{
//   animation: orbitStat 5s ease-in-out infinite;
// }

// @-webkit-keyframes OrbitSolutions {
//     0%   {-webkit-transform:  scale(0.7); opacity:1;}
//     25%  {-webkit-transform: scale(0.8); opacity: 0.9;}
//     50%  {-webkit-transform: scale(0.9); opacity:0.8;}
//     75%  {-webkit-transform: scale(0.8); opacity:0.9;}
//     100% {-webkit-transform: scale(0.7); opacity:1;}
// }

// @-webkit-keyframes orbitProfile {
//     0%   {-webkit-transform:  scale(0.9); opacity:1;}
//     25%  {-webkit-transform: scale(0.8); opacity: 0.9;}
//     50%  {-webkit-transform: scale(0.7); opacity:0.8;}
//     75%  {-webkit-transform: scale(0.8); opacity:0.9;}
//     100% {-webkit-transform: scale(0.9); opacity:1;}
// }
// #Solutions img{
// animation: OrbitSolutions 5s  ease-in-out infinite;
// }

// #Profile img{
//   animation: orbitProfile 5s  ease-in-out infinite;
// }
