<div class="gradient">

<%= link_to user_path(current_user), class:'back' do %>
  <i class="far fa-times-circle"></i>
<% end %>
<p style="margin-left: 2em; margin-top: 1em;"> My score </p>
  <canvas id="myChart" align="center" data-points="<%= @points.to_json %>">
  </canvas>
  <p style="margin: 2em;"> National Average </p>
  <canvas id="myChart2" align="center">
  </canvas>
</div>
