<div class="navsession-wagon">
  <!-- Logo -->
 <!--  <a href="/" class="navsession-wagon-brand">
    <img src="images/logo.png" alt="logo">
  </a> -->

  <!-- Right Navigation -->
  <div class="navsession-wagon-right hidden-xs hidden-sm">

    <a href="" class="navsession-wagon-item navsession-wagon-link">
    <%= link_to "Input", survey_path(@survey), class:'navsession-wagon-item navsession-wagon-link'%>
    </a>
    <a href="" class="navsession-wagon-item navsession-wagon-link">Activities</a>
    <a href="" class="navsession-wagon-item navsession-wagon-link">Output</a>
    <a href="" class="navsession-wagon-item navsession-wagon-link">Outcomes</a>
    <a href="" class="navsession-wagon-item navsession-wagon-link">Impact claim</a>
    <a href="" class="navsession-wagon-item navsession-wagon-link">Indicators</a>
    <a href="" class="navsession-wagon-item navsession-wagon-link">Valuation</a>
    <a href="" class="navsession-wagon-item navsession-wagon-link">Additional metrics</a>




    <!-- Profile picture with dropdown list -->
<!--     <div class="navsession-wagon-item">
      <div class="dropdown">
        <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" class="avatar dropdown-toggle" id="navsession-wagon-menu" data-toggle="dropdown">
        <ul class="dropdown-menu dropdown-menu-right navsession-wagon-dropdown-menu">
          <li><a href="#">Profile</a></li>
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">Log Out</a></li>
        </ul>
      </div>
    </div> -->
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navsession-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navsession-wagon-dropdown-menu">
        <li><a href="#">Host</a></li>
        <li><a href="#">Trips</a></li>
        <li><a href="#">Messagese</a></li>
      </ul>
    </div>
  </div>
</div>
