<div class='gradient'>
  <div class="typo">
    <h1>Font</h1>
     <!--  <ul>
        <li>Food</li>
        <li>Transport</li>
        <li>Housing &energy</li>
      </ul> -->
  </div>

  <div  class="typo_test_2">
    <ul>
        <li>Food</li>
        <li>Transport</li>
        <li>Housing &energy</li>
    </ul>
  </div>

</div>
