<div class='gradient'>
  <div class="typo">
    <div class="typo_test_1 ">
      <h1>Font</h1>
     <!--  <ul>
        <li>Food</li>
        <li>Transport</li>
        <li>Housing &energy</li>
      </ul> -->
    </div>
    <div  class="typo_test_2">
      <h1>Font</h1>
      <ul>
        <li>Food</li>
        <li>Transport</li>
        <li>Housing &energy</li>
      </ul>
    </div>
    </div>
</div>
