
<div class="choices" id="step_1">
  <%= f.input :upcycling, as: :radio_buttons, collection: Survey::UPCYCLING, wrapper: :vertical_collection_inline, label: "How much do you recycle?" %>
  <p id="step_1_button">NEXT</p>
</div>
