<div class="choices" id="choices_button">
<%= f.input :vegetable_season, as: :radio_buttons, collection: Survey::VEG_SEASON, wrapper: :vertical_collection_inline, label:"Your seasonal vegetables buyings?" %>
</div>

<div class="choices" id="choices_button">
<%= f.input :eating_habits, as: :radio_buttons, collection: Survey::EATING_HAB, wrapper: :vertical_collection_inline, label:"Your eating habits?" %>
</div>

<div class="choices" id="choices_button">
<%= f.input :bio_buyings, as: :radio_buttons, collection: Survey::BIO, wrapper: :vertical_collection_inline, label:"Your proportion of organic buyings?" %>
</div>
