<div class="gradient">
  <div class="choices" id="step_1">
    <%= f.input :upcycling, as: :radio_buttons, collection: Survey::UPCYCLING, wrapper: :vertical_collection_inline, label: "How much do you recycle?" %>
  </div>
</div>

<%= f.input :green_invest, as: :radio_buttons, collection: Survey::INVEST, wrapper: :vertical_collection_inline %>
