<% case params[:category] %>
<% when "energy" %>
  <h1>My energy footprint</h1>
<% when "transport" %>
  <h1>My transport footprint</h1>
<% when "investment" %>
  <h1>My investment footprint</h1>
<% when "food" %>
  <h1>My food footprint</h1>
<% when "waste" %>
  <h1>My waste footprint</h1>
<% end %>

<%= render 'form', survey: @survey %>

<%= link_to 'Back', survey_path %>
