<div class= gradient>

  <h1 class="header_form welcome">Green-Impact</h1>

  <% if current_user.nil? %>
    <p><%= link_to "start", user_session_path, class: "next_button_style"  %></p>
  <% else %>
  <div style="position:relative;">
    <%= image_tag "earth1.svg", class:'planet small' %>
   <%= link_to "start", user_path(current_user), class: "next_button_style homepage"  %>
  </div>
  <% end %>
  <p style="margin:3px; text-align:center;">A fun tool to assess your carbon footprint, understand and reduce it ! </p>

</div>
