.button {
  color: black;
  // border: 3px solid white;

  padding: 10px 15px;
  // border-radius: 50px;
  font-weight: lighter;
  opacity: 0.7;
  margin: 5px;
  width: auto;
  text-decoration: none;
  font-weight: lighter;
   &:hover {
   text-decoration: none;
   opacity: 0.9; }
  }

.button-small {
  font-size: 15px;
  color: black;
  padding: 2px 2px;
  font-weight: lighter;
  opacity: 0.8;
  margin: 1px;
  width: auto;
}



.button-eco {
  color: black;
  border: 3px solid white;
  box-shadow:2px -2px #363434;
  padding: 5px 4px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.7;
  font-size:15px;
  margin-top: 20px;
  text-decoration: none;
  }

.button-icons {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 100%;
}


