.gradient {
width: 100vw;
height: 100vh;
background: -webkit-linear-gradient(#37ebba, #72aed3);
background: -o-linear-gradient(#37ebba, #72aed3);
background: linear-gradient(#37ebba, #72aed3);
}

.avatar {
width: 30px;
  border-radius: 50%;
}


.typo {
  margin-left:20px;
  font-family: 'Amiri', serif;
  font-style: italic;
  font-weight: bolder;
  font-size: 40px;
}


.typo_test_1 {
  width:50vw;
  h1{
  color:white;
   text-shadow: 3px 3px grey;
  font-family: 'Vast Shadow', cursive;
  padding-bottom: 5vh;
  }
  p {
    font-family: 'Space Mono', monospace;
    color:#363434;
  }
}

.typo_test_2{
  font-family: 'Space Mono', monospace;

}

.icon {
  transform: scale(0.75);
  height: 1px;
  width : 1px;
  padding-bottom:10vh;
  margin-left: 30vw;
  p:hover{ position: relative;
             right: 5px;
             filter: contrast(130%);

         }
}

