.gradient {
  width: 100vw;
  height: 100vh;
background: linear-gradient(#37ebba, #72aed3);
}

.typo {
  margin-left:20px;
}

.typo_test_1 {
  h1{

  font-family: 'Vast Shadow', cursive;
  }
}
.typo_test_2{

}

.icon {
  height: 10px;
  width : 10px;
}
