.gradient {
width: 100vw;
min-height: 100vh;
padding-bottom: 142px;

}

body {
  height: 100%;
  background: -webkit-linear-gradient(#37ebba, #72aed3);
  background: -o-linear-gradient(#37ebba, #72aed3);
  background: linear-gradient(#37ebba, #7282d3);
}
.avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-size:cover;
}

.avatar-small {
  width: 60px;
  height:60px;
  border-radius: 50%;
  background-size:cover;
}

.typo {
  margin-left:20px;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-weight: bolder;
  font-size: 40px;
}


.typo_test_1 {
  width:50vw;
  h1{
  color:white;
   text-shadow: 3px 3px grey;
  font-family: 'Roboto Condensed', sans-serif;
  padding-bottom: 5vh;
  }
  p {
    font-family: 'Montserrat', sans-serif;
    color:#363434;
  }
}

.typo_test_2{
  font-family: 'Montserrat', sans-serif;

}

.icon {
  transform: scale(0.75);
  height: 1px;
  width : 1px;
  padding-bottom:10vh;
  margin-left: 30vw;
  p:hover{ position: relative;
             right: 5px;
             filter: contrast(130%);

         }
}


// .button {
//   color: black;
//   // border: 3px solid white;
//    // box-shadow:2px -2px #363434;
//   padding: 10px 15px;
//   border-radius: 50px;
//   font-weight: lighter;
//   opacity: 0.7;
//   margin: 5px;
//   width: 140px;
//   }

.buttons-eco {
  display: flex;
  justify-content: space-around;
  align-items:center;
  height: 60px;
}

