.message {
  position: relative;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 20px 33px;
  margin-top: 21px;
  width: 335px;
  display: flex;
  padding: 20px;
  margin: 30px 10px;
  height: 170px;
}

.message-avatar{
  height:100px;
  width: 100px;
  border-radius: 50%;
  margin-top: 28px;
}

.message-name {
  margin-left: 32px;
  p span {
    margin: 0;
    display: inline-block;
    margin-left: 20px;
    font-size: 25px;
    width: 80px;
    height: 80px;
  }
}
  h3{
    font-size: 20px;
  }


.side-pannel{
  display: flex;

  justify-content: space-around;
  align-items: flex-end;

}
.stars-pannel{
  display: flex;
  align-items: center;
}

.score-cards {
  margin: 0px 0px 0px 0px;
  font-size: 15px;
  font-weight: bold;
}
  .next_button_style{
    margin: 0px;
  }

.button_add{
  height: 80px;
  width: 80px;
  border-radius: 50%;
}


.fa-user-plus {
  float: right;
  top: 59px;
  right: 25px;
  position: relative;
  z-index: 2;
}
.icons{
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 15px;
  form {
    display: inline;
  }
}

