.message {
  position: relative;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.6);
  // padding: 15px 15px;
  margin-top: 15px;
  width: 335px;
  display: flex;
  padding: 10px;
  margin: 20px 20px;
  height: 90px;
}

.message h3 {
  margin:0px;
}


.message-avatar{
  height:100px;
  width: 100px;
  border-radius: 50%;
  margin-top: 28px;
}

.message-name {
  // margin-left: 32px;
  // p span {
  //   margin: 0;
  //   display: inline-block;
  //   // margin-left: 20px;
    font-size: 25px;
    // width: 0px;
    // height: 80px;
  // }
}
.pimpe{
  font-size: 45px;
  color: white;
  font-family: $headers-font;
  text-align: center;
}


.side-pannel{
  display: flex;

  justify-content: space-around;
  align-items: flex-end;

}
.stars-pannel{
  display: flex;
  align-items: center;
}

.score-cards {
  margin: 0px 0px 0px 0px;
  font-size: 15px;
  font-weight: bold;
}
  // .next_button_style{
  //   margin: 0px;
  // }

.button_add{
  height: 80px;
  width: 80px;
  border-radius: 50%;
}


.fa-user-plus {
  float: right;
  top: 59px;
  right: 25px;
  position: relative;
  z-index: 2;
}
.icons{
  // position: absolute;
  // top: 0px;
  // right: 0px;
  // margin: 15px;
  display:flex;
  align-items: center;
  justify-content: space-around;
  form {
    display: inline;
  }
}

