.navbar-container{
  position: fixed;
  // position: absolute;
  bottom: 0;
  z-index: 3;
  width: 100vw;
  height: 142px;
  // background-color: red;
  overflow: hidden;
  padding:0;

  .earth-container{
    position: fixed;
    position: relative;
    width: 100vw;
    height: 142px;
    overflow: hidden;

  }
  .planet-navbar{
    transition: all 0.5s ease-in-out;
    position: absolute;
    width: 5em;
    bottom: -4em;
    left: -1em;
    top: 4em;
  }

  .planet-navbar.open {
    width: 35em;
    bottom: -30.5em;
    left: -13em;
    z-index: -5;

  }
  .button-navbar{
    transition: all 0.5s ease-in-out;
    position: absolute;
    height: 55px;
    width: 110px;
    text-align: center;
    font-size: 16px;
    left: -27px;
    bottom: -33px;

    img{
      height: 55px;
      width: 55px;
      // animation: orbitStat 5s ease-in-out infinite;
    }
    p{
      margin-top: -4px;
      padding: 0;
      font-size: 15px;
      color: black;
    }
    a{
      margin: 0;
      padding: 0;
    }
  }
  .button-profile.open{
    left: 0em;
    bottom: 4em;
    }
  .button-survey-categories.open{
    left: 5.8em;
    bottom: 3.3em;
  }
  .button-results.open{
    left: 11.5em;
    bottom: 2em;
  }
  .button-ecoactions.open{
    left: 17em;
    bottom: 0.5em;
  }

.open{
   transition: all 0.5s ease-in-out;
}

.click-container.open{
    width: 35em;
    bottom: -30.5em;
    left: -13em;
    z-index: -5;
}
.click-container{
  // background-color: red;
  transition: all 0.5s ease-in-out;
  display: block;
  position: absolute;
  height: 5em;
  width: 5em;
  bottom: -4em;
  left: -1em;
  top: 4em;
  border-radius: 50%;
  z-index: 5;
    &:hover {
      cursor: pointer;
}
}
}
