.navbar-container{
  position: absolute;
  bottom: 0;
  z-index: 3;
  width: 100vw;
  height: 220px;
  overflow: hidden;

  .earth-container{
    position: relative;
    width: 100vw;
    height: 220px;
    overflow: hidden;
    top: 5%;
  }
  .planet-navbar{
    display: block;
    position: absolute;
    width: 5em;
    bottom: 0.5em;
    left: 0em;
  }
  .planet-navbar.open {
    width: 23em;
    bottom: -16em;
    left: -8em;

  }
  .button-navbar{
    position: absolute;
    height: 80px;
    width: 110px;
    text-align: center;
    font-size: 16px;
    left: 0;
    bottom: -5px;
    img{
      height: 80px;
      width: 80px;
      animation: orbitStat 5s ease-in-out infinite;
    }
    p{
      margin-top: -4px;
      padding: 0;
    }
    a{
      margin: 0;
      padding: 0;
    }
  }
  .button-profile.open{
    left: 0em;
    bottom: 8em;
    }
  .button-survey-categories.open{
    left: 6.2em;
    bottom: 7em;
  }
  .button-results.open{
    left: 12em;
    bottom: 5em;
  }
  .button-ecoactions.open{
    left: 16em;
    bottom: 1em;
  }

.open{
   transition: all 0.5s ease-in-out;
}
}
